<h1 class="titulo">Mis Favoritos ❤️</h1>

@if (productosFavoritos.length === 0) {
  <div class="vacio">
    <p>No tienes productos favoritos.</p>
  </div>
}

@if (productosFavoritos.length > 0) {
  <div class="contenedor">

    @for (p of productosFavoritos; track p.id) {
      <div class="card">

        <h2>{{ p.nombre }}</h2>

        <p>{{ p.descripcion }}</p>

        <button
          type="button"
          (click)="eliminar(p.id)">
          🗑 Eliminar
        </button>

      </div>
    }

  </div>
}