/* Fondo */

.carrito{

    max-width:900px;
    margin:40px auto;
    padding:30px;
    background:#fff8fb;
    border-radius:20px;
}

/* Título */

.carrito h1{

    text-align:center;
    color:#d63384;
    font-size:2.3rem;
    margin-bottom:35px;
}

/* Tarjetas */

.producto{

    background:white;

    border-radius:18px;

    padding:20px;

    margin-bottom:20px;

    box-shadow:0 6px 15px rgba(236,140,180,.18);

    border:1px solid #f8d7e6;

    transition:.3s;
}

.producto:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 25px rgba(236,140,180,.25);

}

/* Nombre */

.info h2{

    color:#c2185b;

    margin:0;
}

.precio{

    color:#777;

    font-size:18px;

    margin-top:8px;
}

/* Cantidad */

.cantidad{

    display:flex;

    align-items:center;

    gap:15px;

    margin:20px 0;
}

.cantidad span{

    font-size:20px;

    font-weight:bold;

    color:#c2185b;
}

.cantidad button{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    background:#f8bbd0;

    color:#c2185b;

    font-size:22px;

    cursor:pointer;

    transition:.3s;
}

.cantidad button:hover{

    background:#ec407a;

    color:white;
}

/* Botón eliminar */

.eliminar{

    width:100%;

    padding:12px;

    border:none;

    border-radius:12px;

    background:#f06292;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

.eliminar:hover{

    background:#d81b60;
}

/* Total */

.total{

    margin-top:35px;

    background:linear-gradient(135deg,#f8bbd0,#fce4ec);

    padding:20px;

    border-radius:18px;

    text-align:center;

    color:#ad1457;

    box-shadow:0 5px 15px rgba(236,140,180,.2);
}

.total h2{

    margin-bottom:10px;
}

.total p{

    font-size:30px;

    font-weight:bold;
}

/* Vacío */

.vacio{

    text-align:center;

    color:#999;

    font-size:20px;

    padding:50px;
}